@import '../dizajn.css';

h2{
    top: 20px;
}

div{
    position: absolute;
    top: 180px;
    left: 90px;
    height: 480px;
    width: 70%;
    overflow-y: scroll;
}

div::-webkit-scrollbar{
    display: none;
}

table{
    position: absolute;
    top: 0px;
    left: 0px;
}

tr{
 height: fit-content;
 width: 150px;
 padding-bottom: 15px;
}

td{
    position: relative;
    height: 290px;
    min-width: 25%;
    padding: 0px;
    white-space: nowrap;
}

img{
    position: relative;
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 10px;
    top: 0px;
    left: 0px;
    height: 250px;
    width: auto;
    margin: 0px;
}

p{
    position: absolute;
    top: 265px;
    left: 40px;
    width: 100%;
    height: fit-content;
    padding-bottom: 15px;
    font-size: 25px;
    font-weight: bold;
    color:  hsl(320, 86%, 39%);
}