<zajednicka></zajednicka>
<h2>Zakažite</h2>

<img class="proba" src="" alt="slika probe vencanice">

<table class="kalendar">
    <tr > 
        <td class="tdDanas" colspan="2" >{{trMesec}}  &nbsp; </td>  
        <td colspan="2" style="background-color: transparent;" > &nbsp; &nbsp;</td>
        <td class="tdPoruka" colspan="3"> Izaberite datum:  </td>  
    </tr>
            
    <tr> <td *ngFor="let p of prva" >{{p}}</td> </tr>
    <tr> <td *ngFor="let d of druga" >{{d}}</td> </tr>
    <tr> <td *ngFor="let t of treca" >{{t}}</td></tr>
    <tr> <td *ngFor="let c of cetvrta" >{{c}}</td></tr>    
    <tr> <td *ngFor="let p of peta" >{{p}}</td> </tr>
       
</table>


<select name="" id=""></select>