@import '../dizajn.css';

img.proba{
    top: 300px;
    left: 120px;
    width: 200px;
    height: 350px;
}

p{
    position: absolute;
    top: 200px;
    left: 600px;
}

table{
    position: absolute;
}

table.kalendar{
    top: 200px;
    left: 550px;
    width: fit-content;
    font-size: 20px;
    border-color: #b90e80;
    border-style: solid;
    border-width: 5px;
    border-radius: 8px;
}



td{
    min-width: fit-content;
    width: 40px;
    height: 40px;
    margin: 0px;
    text-align: center;
    background-color: transparent;
    color: white;
    font-weight: bold;
    border-radius: 8px;
}


td.tdPrazno{
    background-color: transparent;
}



tr.trMesec > td{
    align-items: left;
    min-width: fit-content;
    font-weight: bold;
    font-style: italic;
    background-color: transparent;
    color: #b90e80;
    height: fit-content;
    padding: 0px;
}

tr.trIzaberi > td{    
    min-width: fit-content;
    color: #b90e80;
    background-color: transparent;
    font-weight: bold;
    font-size: 12px;
    font-style: italic;
    height: fit-content;
    padding: 0px;
}

button{
    border: none;
    background-color: #b90e80;
    color: white;
    font-size: larger;
    font-weight: bold;
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

button.btSledeci{
    background-color: transparent;
    color:#b90e80;
}